@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import "reset";

main {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    position: relative;

    header {
        width: 20%;
        height: 100%;
        padding: 10vh 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        h1 {
            font-size: 0;
            color: #fff;
            i {
                font-size: 5vw;
                margin-bottom: 15px;
            }
            span {
                font: 1vw/1 'Arial';
            }
        }
        address {
            font: normal 11px/1.2 'Arial';
            color: #888;
        }
    }

    nav {
        position: absolute;
        top: 10vh;
        right: 5vw;
        ul {
            display: flex;
            li {
                a {
                font-size: 18px;
                color: #fff;
                margin-right: 30px;
                }
            }
        }
    }

    section {
        width: 80%;
        height: 100%;
        padding-top: 15vh;
        display: flex;
        article {
            flex: 1;
            padding: 70px 40px 100px;
            opacity: 0.6;
            transition: 1s;
            cursor: pointer;
            .inner {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                .txt {
                    h2 {
                        font: normal 20px/1 'Alegreya Sans SC';
                        color: #ccc;
                        margin-bottom: 40px;
                        padding-top: 70px;
                        transition: all 1s;
                        &::after {
                            content: '';
                            display: block;
                            width: 40px;
                            height: 2px;
                            background-color: #777;
                            margin-top: 20px;
                            transition: 1s;
                        }
                    }
                    p {
                        font: 14px/1 'Arial';
                        color: #999;
                    }
                }
                figure {
                    width: 100%;
                    height: 15vh;
                    filter: saturate(10%);
                    transition: 1s;
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &:hover {
                opacity: 1;
                flex: 1.5;
                .inner {
                    .txt {
                        h2 {
                            font-size: 5vw;
                            padding-top: 0px;
                            &::after {
                                width: 120px;
                                background-color: orange;
                            }
                        }
                    }
                    figure {
                        height: 25vh;
                        filter: saturate(100%);
                        transform: translateY(5vh);
                    }
                }
            }
        }
    }

    aside {
        width: 100%;
        height: 100vh;
        background-color: #222;
        padding: 20vh 7vw 14vh 20vw;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        transition: all 1s;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        &:on {
            opacity: 1;
            left: 0%;
        }
        .txt {
            width: 25%;
            height: 100%;
            h2 {
                font: normal 6vw/1 "Alegreya Sans SC";
                color: #ddd;
                margin-bottom: 20px;
            }
            p {
                font: 1.1vw/1.3 "Arial";
                color: #666;
                margin-bottom: 60px;
            }
            span {
                cursor: pointer;
                color: orange;
            }
        }
        figure {
            width: 72%;
            height: 100%;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}